<div class="sidnav-userprofile sidenav-elemnt">
    <mat-card class="sidenav-userprofile-card">
        <mat-card-header >
          <div [ngStyle]="{ 'background-image': 'url(' + currentUser?.photoUrl + ')' }" mat-card-avatar class="sidnav-userprofile-header-image" [routerLink]="['/editUserProfile']"></div>
          <mat-card-title class="sidenav-card-header">{{currentUser?.username}}</mat-card-title>
          <mat-card-subtitle>
              {{currentUser?.email}} <br/>
              <div class="sidenav-userprofile-subtitle-followers"><span><mat-icon>loyalty</mat-icon></span><span>followers: <span>40</span></span></div>
              <div class="sidenav-userprofile-subtitle-following"><span><mat-icon>scatter_plot</mat-icon></span><span>following: <span>40</span></span></div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="sidenav-card-userprofile-content">
             joned 2019 & 116 photos 
          </p>
        </mat-card-content>
    </mat-card>       
</div>  
