.edit-user-photos-card {
    max-width: 320px;
    margin-top: 1.5em;
    margin-left: 1em;
 }

 .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .edit-user-photos-card-textarea {
    width: 290px;
  }

  .edit-user-photos-card-inputs {
    width: 290px;
    margin-left: -29px;
  }
