<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
          <h1 class="display-4">Get
            <strong> inspired</strong> and gain your
            <strong>best photos</strong>
          </h1>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
             Be motivated to share your best work, Become a part of community and celebrate your great work
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, tempore iusto in minima facere dolorem!
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, tempore iusto in minima facere dolorem!
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card register-signup text-center card-form">
            <div class="card-body">
              <h3>Sign Up Today</h3>
              <p>Please fill out this form to register</p>
              <app-register-form></app-register-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>