<app-nav></app-nav> 
<mat-drawer-container class="app-container" autosize>
  <mat-drawer 
    #drawer class="sidenav-content-elements mat-elevation-z10 sidenav-container-background-image"
    [opened]="isUploadedPhoto"
    [disableClose]="true"
    mode='side'>
    <div class="sidenav-element-flex-container">

        <div class="sidnav-userprofile sidenav-elemnt">
            <mat-card class="sidenav-userprofile-card">
                <mat-card-header >
                  <div 
                    
                    [ngStyle]="{ 'background-image': 'url(' + mainPhotoUrl + ')' }" 
                    mat-card-avatar 
                    class="sidnav-userprofile-header-image" 
                    [routerLink]="['/editUserProfile']" 
                   >
                  </div>
                  <mat-card-title class="sidenav-card-header">bleleeve</mat-card-title>
                  <mat-card-subtitle>
                      belebebe <br/>
                      <div class="sidenav-userprofile-subtitle-followers"><span><mat-icon>loyalty</mat-icon></span><span>followers: <span>40</span></span></div>
                      <div class="sidenav-userprofile-subtitle-following"><span><mat-icon>scatter_plot</mat-icon></span><span>following: <span>40</span></span></div>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p class="sidenav-card-userprofile-content">
                     joned 2019 & 116 photos 
                  </p>
                </mat-card-content>
            </mat-card>       
        </div>  
      <div style="margin-top: 10px;">

          <div class="sidnav-userprofile sidenav-elemnt">
              <mat-card class="sidenav-userprofile-card">
                  <mat-card-header >
                    <mat-card-title >Photo editing</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                      <form [formGroup]="sidenavPhotoForm" class="mb-3">
                          <mat-form-field class="sidenav-element-form-input">
                            <input matInput  
                            
                              placeholder="photo title"
                              formControlName="photoTitle"
                              (change)="changePhotoTitle($event)">
                          </mat-form-field>
                          <mat-form-field class="sidenav-element-form-input">
                            <textarea matInput 
                            placeholder="photo description" 
                            formControlName="photoDescription" 
                            class="base-style"
                            rows="2"
                            (change)="changePhotoDescription($event)"
                            ></textarea>
                          </mat-form-field> 
                          <mat-form-field class="sidenav-content-element-form-tags">
                              <mat-chip-list #chipList>
                                <mat-chip *ngFor="let tag of tags" [selectable]="selectable" class="mat-chip-selected"
                                         [removable]="removable" (removed)="removeTag(tag)">
                                  {{tag}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add new tag..."
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addTag($event)">
                              </mat-chip-list>
                          </mat-form-field>              
                                        
                      </form>   
                  </mat-card-content>
              </mat-card>       
          </div> 

       
      </div>  

      <button class="sidenav-btn-cancelUploadPhotos sidenav-elemnt" color="warn" mat-raised-button>
          <mat-icon>grid_off</mat-icon> Cancel upload photos <mat-icon>cancel</mat-icon> 
      </button>
     
    </div>
   </mat-drawer>
  <div class="app-sidenav-content">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
