<app-nav></app-nav> 
<mat-drawer-container class="app-container" autosize>
  <mat-drawer 
    #drawer class="sidenav-content-elements mat-elevation-z10 sidenav-container-background-image"
    [opened]="isUploadedPhoto"
    mode='side'>
    <div class="sidenav-element-flex-container">
      <p>Uploader 1 photo</p>
      <mat-divider></mat-divider>
      <p>add title</p>
      <p>add description</p>
      <mat-divider></mat-divider>
      <p>add tags</p>
      <mat-divider></mat-divider>

      
    </div>
   </mat-drawer>
  <div class="app-sidenav-content">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
