
.my-drop-zone {
   border: dotted 3px #7181b7;
 }
 .nv-file-over {
   border: dotted 3px #2db121;
 } /* Default class applied to drop zones on over */
 .another-file-over-class {
   border: dotted 3px green;
 }