<app-nav (toggleSidenav)="drawer.toggle()" (editSectionUser)="reciveEditUserProfileAsCurrent()" (dashbordSection)="reciveDashboardAsCurrent()"></app-nav> 
<mat-drawer-container class="app-container" autosize>
  <mat-drawer 
    #drawer class="sidenav-content-elements mat-elevation-z10 sidenav-container-background-image"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <div class="sidenav-element-flex-container">
      <button class="sidenav-elemnt" color="{{dashboardColor}}" mat-raised-button [routerLink]="['/']" (click)="setBtnColor(dashboardSection)">
        <mat-icon>dashboard</mat-icon> dashboard
      </button>
      <button class="sidenav-elemnt" color="primary" mat-raised-button>
        <mat-icon>person</mat-icon> group
      </button>

      <button class="sidenav-elemnt" color="{{userProfileColor}}" mat-raised-button [routerLink]="['/editUserProfile']" (click)="setBtnColor(userprofileSection)">
        <mat-icon>person</mat-icon> your profile
      </button>

      <div class="sidnav-userprofile sidenav-elemnt">
          <mat-card class="example-card">
              <mat-card-header >
                <div [ngStyle]="{ 'background-image': 'url(' + currentUser?.photoUrl + ')' }" mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="sidenav-card-header">{{currentUser?.username}}</mat-card-title>
                <mat-card-subtitle>
                    {{currentUser?.email}} <br/>
                    <div class="sidenav-userprofile-subtitle-followers"><span><mat-icon>loyalty</mat-icon></span><span>followers: <span>40</span></span></div>
                    <div class="sidenav-userprofile-subtitle-following"><span><mat-icon>scatter_plot</mat-icon></span><span>following: <span>40</span></span></div>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="sidenav-card-userprofile-content">
                    joned 2019, 116 photos
                </p>
              </mat-card-content>
          </mat-card>       
      </div>  
    </div>
   </mat-drawer>
  <div class="app-sidenav-content">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>