<div *ngIf="photoUploaderModel">
  <div style="margin-top: 30px;">
    <form [formGroup]="uploadPhotoForm">

        <mat-card *ngIf="isInUploading" class="uploader-photos-card">
          <img mat-card-image style="opacity: 0.3" [src]="filePreviewPath" alt="Photo of a Shiba Inu">
          <mat-card-content>
        
            <div style="margin-top: 15px; display: flex; justify-content: center; align-items: center">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </div>
        
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>

    

    <mat-card *ngIf="!isInUploading" class="uploader-photos-card" [ngClass]="{'uploader-photos-card-current': photoUploaderModel.isEditMode}" (click)="choosePhoto()">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <mat-form-field class="uploader-photos-card-inputs">
                <input
                  matInput
                  placeholder="add title to Photo"
                  formControlName="photoTitle"
                  (change)="changePhotoTitle($event)"
                />
             </mat-form-field>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="filePreviewPath" alt="Photo of a Shiba Inu">
      <mat-card-content>
          <mat-form-field class="uploader-photos-card-textarea">
              <textarea
                matInput
                placeholder="add photo description"
                formControlName="photoDescription"
                rows="1"
                (change)="changePhotoDescription($event)"
              ></textarea>
          </mat-form-field> 
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="openDeleteConfirmationDialog()">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>


  
  </form>
  </div>
  
</div>
