

.body {
  background: url('../../../assets/longExpo_UW.jpg') no-repeat fixed center center;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

$toolbarHeight: 64px;

.box {
  min-height: calc(100vh - #{$toolbarHeight}); // hack only for login/register form!
  margin-top: $toolbarHeight;
}

mat-toolbar {
  position: fixed;
  z-index: 1000;
}