<h5>
test
</h5>

<div *ngFor="let photoComment of photoComments" class="photo-user-commented-section">
    <div class="photo-user-commented-section-element"> 
      <img src="{{photoComment.user.photoUrl}}" style="border-radius: 50px; height: 50px; width: 50px;" />
      <span style="margin-left: 5px;">{{photoComment?.content}}</span>
    </div>  
    <mat-divider></mat-divider>
</div>

<div class="photo-comment-addComment-section">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <button mat-button color="primary" (click)="addcomment()"> add a comment</button>
      </form>
</div>

