<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Picture App</a>
    
    <ul *ngIf="loggedIn" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/you']">You</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/discover']">Discover</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/group']">Group</a>
      </li>
    </ul>
    <app-nav-login (LoggedIntoApplication)="currentLoggedIn($event)"></app-nav-login>
  </div>
</nav>
