<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
  <div class="container">
    <a href="index.html" class="navbar-brand">PhotoApp <i class="fa fa-camera-retro"></i></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-none d-sm-block">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-primary my-2 my-sm-0 " (click)="goToDialoginPage()">login</button>
      </form> 
    </div>
  </div>
   
</nav>