 .card {
    max-width: 320px;
    margin-top: 1.5em;
    margin-left: 1em;
 }

 .card-img {
   background-color: black; /* fallback color */
   background-position: center;
   background-size: cover;
   transition:all 0.3s ease-in-out;
   opacity:1;
 }

 .card:hover .card-img,
 .card:focus .card-img {
   transform: scale(1.02);
   opacity:0.6;
 }

 .main-header-image {
  background-size: cover;
}

.btn-like {
  margin-bottom: 4px;
  margin-right: -8px;
}
 
   