<mat-toolbar color="primary"> 
 
  <button mat-button class="sidenav-toggle" (click)="emitMenu()">
            <mat-icon>menu</mat-icon>
  </button>
  <span>
      <button mat-button [routerLink]="['/']" (click)="emitDashboardAsCurrentSection()"> 
          VeilEye.com         
          <mat-icon>camera</mat-icon>
      </button>
  </span>
  <span class="nav-spacer"></span>
  <button mat-button [routerLink]="['/photo-uploader']" >
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>  
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/editUserProfile']" 
      (click)="emitEditUserProfileAsCurrentSection()">
        your profile <mat-icon>person</mat-icon>
      </button>
      <button mat-menu-item (click)="logout()">
        Logout <mat-icon>exit_to_app</mat-icon>
      </button>
  </mat-menu>    

</mat-toolbar>
