.flex-container {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
}

@media all and (max-width: 1200px) {
  .flex-container {
    justify-content: center;
  }
}

.content-align {
  margin-top: 0.3em;
  margin-left: 1em;
}

.tab-container {
  width: 100%;
}

.edit-userPfrofile-background-image {
  margin-top: 0.9em;
  margin-left: -3.1em;
  margin-right: -3.1em;
  background: url('../../../../../assets/longExpo_UW.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
}
