
<div layout="row" class="edit-userPfrofile-background-image">
    <div flex style="height:350px;"></div>
    <div layout="column" style="width: 100px; ">
      <div style="height: 100px; margin: 5px 0px 5px 0px; background-color: white">1</div>
      <div style="height: 100px; margin: 5px 0px 5px 0px; background-color: white">2</div>
      <div style="height: 100px; margin: 5px 0px 5px 0px; background-color: white">3</div>
    </div>
</div>

<div class="flex-container content-align" fxLayout.xs="column">


  <mat-tab-group class="tab-container">
    <mat-tab label="Photos">
      <div class="flex-container" fxLayout.xs="column">
        <div *ngFor="let photo of user.photos">
          <app-edit-user-photos [photo]="photo"></app-edit-user-photos>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Albums"> Albums </mat-tab>
    <mat-tab label="Groups"> Groups </mat-tab>
    <mat-tab label="Your Likes"> Your Likes </mat-tab>
    <mat-tab label="About"> About </mat-tab>
  </mat-tab-group>
</div>
