<div *ngIf="currentPhoto != null">
<mat-card class="card" [ngClass]="{'photo-card-comment-mode': isCommentMode}">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]="{ 'background-image': 'url(' + mainPhoto?.url + ')' }"
      class="main-header-image">
    </div>
    <mat-card-title>
        {{ user.username }}
        <button mat-button *ngIf="!isFollower" (click)="followUser(user)">
          Follow
        </button>
        <button mat-button *ngIf="isFollower" (click)="unfollowUser(user)">
          Unfollow
        </button>
        <div>{{currentPhoto.title}}</div>
    </mat-card-title>
    <mat-card-subtitle>{{currentPhoto.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img
      class="card-img"
      mat-card-image
      src="{{ currentPhoto?.url }}"
      alt="Photo of a Shiba Inu"
      (click)="OpenPhotoDetailDialog(user, currentPhoto)" />    
    <p>
      {{currentPhoto.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary">
      <mat-icon matBadge="15" matBadgeColor="accent" class="btn-like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="openCommnetBottomSheet(currentPhoto)">
        <mat-icon matBadge="2" matBadgeColor="warn">insert_comment</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
</div>