.flex-container {
   display: flex;
   
   flex-direction: row;
   flex-wrap: wrap;

   justify-content: flex-start;
}

@media all and (max-width: 1200px){
   .flex-container {
       justify-content: center;
   }
}