mat-form-field,
button {
  display: block;
  width: 100%;
}

$toolbarHeight: 64px;

.box {
    min-height: calc(100vh - #{$toolbarHeight});
    margin-top: $toolbarHeight;
}

.form-box {
    padding: 30px;
    background: #e7e7e7;
    box-shadow: 0 0 6px rgb(99, 99, 99);
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}