.flex-container {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.flex-container-photocard {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
}


.my-drop-zone {
  border: dotted 3px lightgray;
}
.nv-file-over {
  border: dotted 3px #f44336;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

input[type="file"] {
  display: none;
}
.photos-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
