<div *ngIf="!photoHasDroped"
  style="margin-top: 50px;"
  class="flex-container"
  fxLayout.xs="column">
  <div
    ng2FileDrop
    [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
    (fileOver)="fileOverBase($event)"
    [uploader]="uploader"
    (onFileDrop)="onChangePreviewImages()"
    style= "width: 100%; height: 750px;"
    class="well my-drop-zone nv-file-over card bg-faded p-3 text-center mb-3 ">
    <div class="flex-container" style="margin-top: 25%;">
      <mat-icon>cloud_upload</mat-icon>
    </div>
    Drop Photos Here
  </div>
</div>

<input style="margin-top: 25px;" type="file" ng2FileSelect [uploader]="uploader" (change)="onChangePreviewImages()" multiple  />
<div *ngIf="photoHasDroped" style="margin-top: 10px;">
  <mat-divider></mat-divider>
</div>

<div class="flex-container-photocard" fxLayout.xs="column">
  <div *ngFor="let fileItem of uploader.queue">
    <app-uploader-content-card [fileInput]='fileItem._file' [photoUploaderModel]='GetPhotoUploaderModel(fileItem)'></app-uploader-content-card>
  </div>
</div>







